* {
    padding: 0;
    margin: 0;
}

body{
    width: 1920px;
    position: relative;
    margin: 0 auto;
}

.clear-fix:after{
    content: '.';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
/* 兼容IE浏览器 */
.clear-fix{
    zoom:1;
}

.clear {
    clear: both;
}

/* 顶部  */
.header {
    width: 100%;
    height: 80px;
    background-color: #07cbc9;
}

.header img {
    float: left;
    margin-left: 158px;
    margin-top: 16px;
}

.header ul {
    float: right;
    list-style: none;
    margin-right: 110px;
    word-spacing: 20px;
}

.header ul li {
    display: inline-block;
}

.header ul li a {
    font: normal bold 16px/80px "Microsoft YaHei UI";
    color: #ffffff;
    text-decoration: none;
}

.header ul li:hover {
    background-color: #000;
}


/*  banner图  */
.banner {
    width: 100%;
    height: 600px;
}

.banner img {
    width: 100%;
    height: 600px;
    position: relative;
}

/* 遮罩层 */
.topLayer {
    background-color: #000;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
    opacity: 0.4;
}

/* send message */
.message {
    width: 510px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -255px;
}


.message .message-content-area {
    height: 119px !important;
}

.message .message-content {
    width: 509px;
    height: 41px;
    border: 2px solid #ffffff;
    margin-top: 20px;
    font: normal normal normal 16px "Microsoft YaHei UI";
    opacity: 0.5;
    background-color: transparent; /* input背景透明 */
    color: #ffffff;
}

.message .send-message {
    width: 126px;
    height: 41px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-left: 192px;
    font: normal normal normal 12px "Microsoft YaHei UI";
    background-color: transparent; /* input背景透明 */
    margin-top: 24px !important;
}

/* 通过伪类选择器 改变input标签的placeholder字体颜色 */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
}


/*about区*/
.about {
    width: 100%;
    height: 737px;
    background-color: #fff;
}

.about .about-one {
    height: 108px;
    position: relative;
}

.about .about-one h1 {
    width: 130px;
    height: 50px;
    font: normal normal normal 38px "Microsoft YaHei UI";
    color: #000;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 0;
}

.about .about-two {
    height: 50px;
    position: relative;
}

.about .about-two hr {
    width: 40px;
    height: 2px;
    border: 0;
    background-color: #07cbc9;
    margin-top: 24px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    line-height: 50px;
}

.about .about-three {
    height: 100px;
    position: relative;
}

.about .about-three p {
    width: 480px;
    font: normal normal normal 15px "Microsoft YaHei UI";
    color: #797979;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    text-align: center;
}

.about .about-four {
    height: 480px;
    position: relative;
}

.about .about-four .left {
    top: 0;
    width: 372px;
    height: 350px;
    left: 50%;
    margin-left: -520px;
    position: absolute;
}

.about .about-four .left .about-us-msg-0{
    height: 100px;
}

.about .about-four .left span{
    display: block;
    font-size: 32px;
    margin-top: 5px;
    margin-left: 10px;
}

.about .about-four .left .about-us-msg{
    margin-top: 5px;
    width: 372px;
    height: 250px;
    border: 1px solid #acacac;
    position: relative;
}
.about .about-four .left .about-us-msg-1 {
    position: relative;
}
.about .about-four .left .about-us-msg-2 {
    width: 372px;
    height: 250px;
    border: 1px solid #acacac;
    position: absolute;
    background-color: #fff;
    opacity: 0.4;
}

.about .about-four .left .about-us-msg p, .about .about-four .left .about-us-msg .explore{
    font-size: 16px;
    margin: 30px 25px;
    z-index: 999;
}

.about .about-four .left .about-us-msg .explore{
    display: block;
    width: 103px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}


.about .about-four .center {

    text-align: center;
}

.about .about-four .center img {
    width: 568px;
    height: 380px;
}

.about .about-four .right {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 319px;
    text-align: center;
}

.about .about-four .right .students, .about .about-four .right .faculty {
    position: relative;
    border: 1px solid #07cbc9;
    width: 238px;
    height: 145px;
}

.about .about-four .right .faculty {
    margin-top: 30px;
}

.about .about-four .right .right-stu-fac-one{
    height: 56px;
    position: relative;
}

.about .about-four .right .right-stu-fac-one h1{
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;

}

.about .about-four .right .students .right-stu-fac-one h1 {
    margin-left: -39px;
}

.about .about-four .right .faculty .right-stu-fac-one h1 {
    margin-left: -23px;
}



.about .about-four .right .right-stu-fac-two{
    height: 47px;
    position: relative;
}

.about .about-four .right .right-stu-fac-two hr{
    position: absolute;
    width: 40px;
    height: 2px;
    left: 50%;
    margin-left: -20px;
    margin-top: 24px;
    background-color: #07cbc9;
    border: 0;
}

.about .about-four .right .right-stu-fac-three{
    height: 42px;
    position: relative;
    font-size: 16px;
}

.about .about-five {
    position: relative;
}

.about .about-five .about-five-1, .about .about-five .about-five-1 img{
    width: 480px;
    height: 396px;
}

.about .about-five .about-five-1 {
    top: 0;
    float: left;
}

.about .about-five .about-five-2 {
    background-color: #07cbc9;
    position: relative;
}

.about .about-five .about-five-2 .message{
    width: 378px;
    height: 322px;
    color: #fff;
    left: 0;
    top: 0;
    margin: 37px 51px;
}

.about .about-five .about-five-2 h1 {
    font: normal normal normal 28px "Microsoft YaHei UI";
}

.about .about-five .about-five-2 p{
    margin: 20px 0 10px 0;
    color: #f7f5f5;
}

.about .about-five .about-five-2 span {
    font: normal normal normal 14px "Microsoft YaHei UI";
    color: #ddd9d4;
}

.about .about-five .about-five-2 .explore{
    display: block;
    width: 100px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    margin: 50px -50px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.about .about-five .about-five-2 .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 25px 15px 25px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.about .about-five .about-five-2 .triangle-1 {
    border-color: transparent #07cbc9 transparent transparent;
    left: -50px;
}

.about .about-five .about-five-2 .triangle-2 {
    border-color: transparent  transparent transparent #07cbc9;
    right: -50px;
}

/* gallery区 */
.gallery {
    width: 1140px;
    height: 970px;
    margin: 0 auto;
}

.gallery .gallery-msg {
    width: 100%;
    position: relative;
}

.gallery .gallery-msg h1 {
    width: 224px;
    font: normal normal normal 38px "Microsoft YaHei UI";
    color: #000;
    text-align: center;
    padding-top: 64px;
    position: relative;
    left: 50%;
    margin-left: -112px;
}

.gallery .gallery-msg .gallery-two {
    height: 51px;
    width: 42px;
    position: relative;
    text-align: center;
    left: 50%;
    margin-left: -21px;

}

.gallery .gallery-msg .gallery-two hr {
    width: 42px;
    height: 2px;
    border: 0;
    background-color: #07cbc9;
    margin-top: 24px;
    position: absolute;
}

.gallery .gallery-msg .gallery-three {
    height: 110px;
    width: 100%;
    position: relative;
}

.gallery .gallery-msg .gallery-three p {
    width: 490px;
    height: 60px;
    font: normal normal normal 15px "Microsoft YaHei UI";
    color: #797979;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.gallery .gallery-image-group-1 {
    width: 1140px;
    height: 302px;
}

.gallery .gallery-image-group-2 {
    margin: 30px 0 66px 0;
}

.gallery .gallery-image-group-1 .gallery-image {
    float: left;
    width: 360px;
    height: 302px;
}

.gallery .gallery-image-group-1 .gallery-image-2 {
    margin: 0 30px;
}

.gallery .gallery-image-group-1 .gallery-image img {
    width: 360px;
    height: 241px;
    display: block;
}

.gallery .gallery-image-group-1 .gallery-image .gallery-image-msg {
    width: 345px;
    height: 61px;
    line-height: 61px;
    color: #fff;
    background-color: #000;
    padding-left: 15px;
}
/* footer区 */
.footer {
    width: 100%;
    height: 80px;
    background-color: #07cbc9;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-family: "微软雅黑", serif;
    font-size: 16px;
}